.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .earthImageDiv{
    transition: none;
    display: -webkit-inline-box;
    transform: translate(0);
    border-radius: 50%;
  }

    .pictureOfADayDiv {
      transition: none;
      display: -webkit-inline-box;
      transform: translate(0);
    }

  .earthImage{
    background-color: var(--bgcolour);
    border-radius: 30px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scale: 1.5
  }

    .pictureOfADay {
      background-color: var(--bgcolour);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .pictureOfADay::-webkit-scrollbar{
      background-color: rgba(37, 42, 51, 0.164);
      width: 7px;
      scroll-padding: 10px;
      
    }

     .pictureOfADay::-webkit-scrollbar-thumb{
      background-color: rgba(21, 131, 175, 0.471);
      width: 10px;
      max-height: 5px;
      border-radius: 50%;
      height: 10px;
      
    }
    


