.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .earthImageDiv{
    transition: none;
    display: -webkit-inline-box;
    transform: translate(0);
    border-radius: 50%;
  }

    .pictureOfADayDiv {
      transition: none;
      display: -webkit-inline-box;
      transform: translate(0);
    }

    .pictureOfADayDivMars {
      transition: none;
      display: -webkit-inline-box;
      transform: translate(0);
    }

    .GalleryDiv{
      transition: none;
      display: -webkit-inline-box;
      transform: translate(0);
    }

    

  .earthImage{
    background-color: var(--bgcolour);
    border-radius: 30px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scale: 1.5
  }

    .pictureOfADay {
      background-color: var(--bgcolour);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .fadeImage {
      position: absolute;
      width: 100%;
      height: auto;
      opacity: 0;
      animation: fade 2s infinite;
  }

  @keyframes fade {
    0%, 20% { opacity: 1; } /* obrazek widoczny */
    25%, 100% { opacity: 0; } /* obrazek znika */
}

/* Dostosowanie timingu dla każdego obrazka */
.fadeImage:nth-child(1) {
    animation-delay: 0s;
}
.fadeImage:nth-child(2) {
    animation-delay: 5s;
}
.fadeImage:nth-child(3) {
    animation-delay: 10s;
}
.fadeImage:nth-child(4) {
    animation-delay: 15s;
}
.fadeImage:nth-child(5) {
    animation-delay: 20s;
}


    


